*{
    margin: 0;
    padding: 0;
}
#styleBody{
    background-color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#styleButton{
    padding: 5px;
    color: indianred;
    font-weight: bold;
    background-color: beige;
    border-radius: 15px;
    border-width: 2px;
    cursor: pointer;
}
.navbar{
    font-weight: bold;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 650px;
    background-color: #ffb759ea;
    color: black;
    
}
.nav-list{
    display: flex;
    gap: 70px;
    padding: 0;
    list-style: none;
}
.link{
    color: black;
    text-decoration: none;
    padding: 0px;
    transition: all 0.3s ease;
}
.link:hover{
    color: brown;
}